# Análisis Exploratio (EDA)

Preguntas objetivos:

- ¿Qué carreras tienen mayor cantidad de titulados?
- ¿Qué tipo de instituciones generan más titulados?
- A que edad promedio se titula una persona de la educación superior? ### no está la cat edad
- Cual es el porcentaje de alumnos que terminan la carrera en la duración teórica?
- Quién saca más profesionales la RM o regiones?

In [21]:
import pandas as pd

####### Análisis exploratorio de datos #######

### Cargar el dataset ###

titulados_2023= pd.read_excel('C:/Users/janov/Desktop/Datasets/Titulados-Ed-Superior-2023/2023.xlsx')

#Imprime las primeras 5 filas
#print(titulados_2023_Cl.head(5))

print(titulados_2023.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297174 entries, 0 to 297173
Data columns (total 41 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   cat_periodo              297174 non-null  int64
 1   codigo_unico             297174 non-null  object
 2   mrun                     296708 non-null  float64
 3   gen_alu                  297174 non-null  int64
 4   fec_nac_alu              297174 non-null  int64
 5   rango_edad               297174 non-null  object
 6   anio_ing_carr_ori        297174 non-null  int64
 7   sem_ing_carr_ori         297174 non-null  int64
 8   anio_ing_carr_act        297174 non-null  int64
 9   sem_ing_carr_act         297174 non-null  int64
 10  nomb_titulo_obtenido     264687 non-null  object
 11  nomb_grado_obtenido      128331 non-null  object
 12  fecha_obtencion_titulo   297174 non-null  int64
 13  tipo_inst_1              297174 non-null  object
 14  tipo_inst_2              297174 non-null  object
 15  tipo_inst_3              297174 non-null  object
 16  cod_inst                 297174 non-null  int64
 17  nomb_inst                297174 non-null  object
 18  cod_sede                 297174 non-null  int64
 19  nomb_sede                297174 non-null  object
 20  cod_carrera              291422 non-null  float64
 21  nomb_carrera             297174 non-null  object
 22  nivel_global             297174 non-null  object
 23  nivel_carrera_1          297174 non-null  object
 24  nivel_carrera_2          297174 non-null  object
 25  dur_estudio_carr         297174 non-null  int64
 26  dur_proceso_tit          297174 non-null  int64
 27  dur_total_carr           297174 non-null  int64
 28  region_sede              297174 non-null  object
 29  provincia_sede           297174 non-null  object
 30  comuna_sede              297174 non-null  object
 31  jornada                  297174 non-null  object
 32  modalidad                297174 non-null  object
 33  version                  291422 non-null  float64
 34  tipo_plan_carr           297174 non-null  object
 35  area_cineunesco          297174 non-null  object
 36  area_cine_f_97           297174 non-null  object
 37  subarea_cine_f_97        297174 non-null  object
 38  area_cine_f_13           297174 non-null  object
 39  subarea_cine_f_13        297174 non-null  object
 40  area_carrera_generica_n  297174 non-null  object
dtypes: float64(3), int64(13), object(25)
memory usage: 93.0+ MB
None

In [23]:
# Seleccionar solo las columnas necesarias
columnas_utiles = ["codigo_unico","mrun","cat_periodo", "anio_ing_carr_act", "nomb_titulo_obtenido", "nomb_carrera", "tipo_inst_2",
                   "dur_total_carr", "dur_estudio_carr", "region_sede", "gen_alu", ]

# Filtrar las columnas que existen en el dataframe
columnas_existentes = [col for col in columnas_utiles if col in titulados_2023.columns]

titulados_2023 = titulados_2023[columnas_existentes]

# Verificar cambios
print(titulados_2023.info())
#print(titulados_2023.head(5))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297174 entries, 0 to 297173
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   codigo_unico          297174 non-null  object
 1   mrun                  296708 non-null  float64
 2   cat_periodo           297174 non-null  int64
 3   anio_ing_carr_act     297174 non-null  int64
 4   nomb_titulo_obtenido  264687 non-null  object
 5   nomb_carrera          297174 non-null  object
 6   tipo_inst_2           297174 non-null  object
 7   dur_total_carr        297174 non-null  int64
 8   dur_estudio_carr      297174 non-null  int64
 9   region_sede           297174 non-null  object
 10  gen_alu               297174 non-null  int64
dtypes: float64(1), int64(5), object(5)
memory usage: 24.9+ MB
None

# Inspección inicial de los datos

In [24]:
print(titulados_2023.shape)  # Número de filas y columnas

print("###########################")
print(titulados_2023.info())  # Tipo de datos de cada columna

(297174, 11)
###########################
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297174 entries, 0 to 297173
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   codigo_unico          297174 non-null  object
 1   mrun                  296708 non-null  float64
 2   cat_periodo           297174 non-null  int64
 3   anio_ing_carr_act     297174 non-null  int64
 4   nomb_titulo_obtenido  264687 non-null  object
 5   nomb_carrera          297174 non-null  object
 6   tipo_inst_2           297174 non-null  object
 7   dur_total_carr        297174 non-null  int64
 8   dur_estudio_carr      297174 non-null  int64
 9   region_sede           297174 non-null  object
 10  gen_alu               297174 non-null  int64
dtypes: float64(1), int64(5), object(5)
memory usage: 24.9+ MB
None

# Manejo de nulos

In [25]:
print(titulados_2023.isnull().sum())  # Cantidad de valores nulos

codigo_unico                0
mrun                      466
cat_periodo                 0
anio_ing_carr_act           0
nomb_titulo_obtenido    32487
nomb_carrera                0
tipo_inst_2                 0
dur_total_carr              0
dur_estudio_carr            0
region_sede                 0
gen_alu                     0
dtype: int64

In [28]:
titulados_2023['nomb_titulo_obtenido'] = titulados_2023['nomb_titulo_obtenido'].fillna('sin informacion')
titulados_2023['mrun'] = titulados_2023['mrun'].fillna(-1)

# Verificar cambios
print(titulados_2023.isnull().sum())

codigo_unico            0
mrun                    0
cat_periodo             0
anio_ing_carr_act       0
nomb_titulo_obtenido    0
nomb_carrera            0
tipo_inst_2             0
dur_total_carr          0
dur_estudio_carr        0
region_sede             0
gen_alu                 0
dtype: int64

# Manejo de duplicados

In [29]:
total_filas = titulados_2023.shape[0]  # Total de filas
duplicados = titulados_2023.duplicated().sum()  # Filas duplicadas

print(f"Total de filas: {total_filas}")
print(f"Filas duplicadas encontradas: {duplicados}")

Total de filas: 297174
Filas duplicadas encontradas: 170